Coffee-MACHINE-WEB/data/UserProfiles.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.com/UserProfiles" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Surname" type="xs:string"/>
  <xs:element name="Age" type="xs:short"/>
  <xs:element name="CreationDate" type="xs:long"/>
  <xs:element name="UserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="user:Name" xmlns:user="http://www.example.com/UserProfiles"/>
        <xs:element ref="user:Surname" xmlns:user="http://www.example.com/UserProfiles"/>
        <xs:element ref="user:Age" xmlns:user="http://www.example.com/UserProfiles"/>
        <xs:element ref="user:CreationDate" xmlns:user="http://www.example.com/UserProfiles"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="user:UserProfile" maxOccurs="unbounded" minOccurs="0" xmlns:user="http://www.example.com/UserProfiles"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
